<h3><%= trip.title %></h3>
<b>Description:</b> <%= trip.description %><br>
<b>Starts:</b> <%= trip.start_time %><br>
<b>Ends:</b> <%= trip.end_time %><br>
<b>Cost for D.O.C. members:</b> <%= trip.cost_doc %><br>
<b>Cost for non-members:</b> <%= trip.cost_non_doc %><br>