
mixin display_trip(trip)
    h3 Trip: #{trip.title}
    b Description: 
    text #{trip.description}
    br
    b Starts: 
    text #{trip.start_time}
    br
    b Ends: 
    text #{trip.end_time}
    br
    b Cost for D.O.C. members: 
    text $#{trip.cost_doc}
    br
    b Cost for non-members: 
    text $#{trip.cost_non_doc}